<div class="footer">
    <div class="european-container" layout="row">
        <div class="flag-and-labels" flex>
                <a class="cef-link" href="https://ec.europa.eu/inea/connecting-europe-facility/">
            <img src="/app/assets/img/en_cef.png"/>
                </a>
        </div>
        <div class="agreement" layout="row" layout-align="center center" flex>
            <a href="http://researchalps.eu/">The Re-search Alps project</a>
        </div>
        <div class="agreement" layout="row" layout-align="center center" flex>
            <div>AGREEMENT No INEA/CEF/ICT/A2016/1296967</div>
        </div>
    </div>
</div>