@media (max-width: 700px) {
  body {
    div.footer {
      .agreement {
        display: none;
      }
    }
  }
}

@media (max-height: 520px) {
  body {
    .footer {
      display: none;
    }
  }
}