
@media (max-width: 590px) {
  search-bar {
    .md-button {
      min-width: 40px;
      span {
        display: none
      }
      i.fa {
        display: inline-block !important
      }
    }
  }
}