@require '../../../../assets/variables.styl'


search-bar {
  display: block
  padding-top: 20px;
  form{
    input{
      width:100%
      min-width: 300px
    }
  }
  .md-button{
    padding: 2px 6px
    margin: 0
    i.fa{
      display: none
    }
  }
}