.crowdsourcing-container{
  .loading{
    padding-top: 100px;
  }
  md-card{
    position: relative
    .md-button{
      position: absolute
      right: 10px
      bottom: 10px
    }
    .submitted{
      color: #FF5722
    }
    .validated{
      color: #4CAF50
    }
    a{
      color: #3898C3
    }
  }
}