@require '../../../../../../assets/variables.styl'

active-filter
  display: inline-block
  margin-bottom: 10px
  max-width: 100%
  button.md-button
    margin: 0 10px 0 0
    span
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left
    i.fa
      padding: 11px 0