.share-dialog{
  md-dialog-content {
    overflow: hidden
    .socials {
      width: 100%
      a {
        text-decoration: none
        text-align: center
        color: white
        padding: 10px 0
        margin: -1px
        &.twitter {
          background-color: #55acee
        }
        &.facebook {
          background-color: #3b5998
        }
        &.google {
          background-color: #dc4e41
        }
        &.linkedin {
          background-color: #0077b5
        }
        &.viadeo {
          background-color: #f07355
        }
        &.mail {
          background-color: #435058
        }
      }
    }
  }
}