.correction-container{
  .loading{
    padding-top: 100px;
  }
  md-card{
    md-card-content {
      padding-top:0;
    }
    md-input-container {
      margin: 0;
    }
    md-card-header {
      padding-bottom: 0;
    }
    md-icon {
      cursor: pointer;
    }
  }
}