@media (max-width: 959px) {
  identity{
    .id-container .subtitle .label{
      min-width: 0 !important
    }
    .hierarchy{
      font-size 80% !important
    }
    .id-container {
      struct-label {
        font-size: 15pt;
      }
    }
  }
}