@require '../../../../../assets/variables.styl'

badge-filter {
   .checkboxes {
    md-content {
      height: 300px
      //width: 400px
      .selected{
        background : color-accent
      }
      img {
        width:70px
      }
    }
  }
}