@media (max-width: 960px) {
  .md-virtual-repeat-container.md-autocomplete-suggestions-container{
    min-width:276px !important
  }
  md-dialog{
    max-width: none !important
    min-width: 0 !important;
  }
}
@media (max-width: 600px) {
  .md-open-menu-container{
    left:0 !important
    right:0 !important
    md-menu-content{
      min-width:0 !important
    }
  }
}