@media (max-width: 1279px) {
  .search{
    .logo-container {
      padding-right: 20px
      .research-alps-logo-container {
        img {
          padding: 10px 0;
        }
        span {
          bottom: 0;
          right: 0;
        }
      }
    }
    .export-button {
      left: 30px;
      top: 190px;
      .export-button-label {
        display: none;
      }
    }
    .share {
      top: 190px;
      right: 30px;
    }
  }

}
@media (max-width: 959px) {
  .search{
    .top-banner{
      background-image: none;
      padding: 0;
      > md-card{
        margin: 0
      }
    }
    > .layout-padding {
      padding: 0
    }
    .search-results-container{
      margin: 5px 0 0 0;
      padding: 0
    }
    .export-button {
      display: none
    }
  }
}
@media (max-width: 600px) {
  .search{
    .logo-container .research-alps-logo-container{
      padding-bottom: 20px
      img {
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 0;
      }
      span{
        bottom: 10px;
        right: 0;
      }
    }
  }
}