tag-cloud{
  display: block;
  padding: 0 !important
  > div{
    font-size: 18px;
    margin-top: 7px;
    margin-bottom: 45px;
    color: #333333;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, sans-serif
  }
  text{
    cursor: pointer
  }
    svg{
      overflow: visible
    }
}