.home-stats{
  md-card {
    text-align: center;
    md-card-title {
      color: white;
      .md-headline {
        font-weight: bold;
      }
      &.light {
        background-color: #38a5ca;
      }
      &.dark {
        background-color: #0c2c63;
      }
    }
    md-card-content {
      color: #0c2c63;
    }
    margin-left: 20px;
    margin-right: 20px;
    width: 150px;
  }
}