
@media (max-width: 959px) {
  search-filters {
    .title{
      display: block
    }
    button.md-button{
      margin-left: 0
    }
  }
}

@media (max-width: 600px) {
  search-filters{
    .md-menu {
      padding: 0
      button {
        width: 100%
      }
    }
  }
  md-menu-content .checkbox-container .checkboxes md-virtual-repeat-container{
    width:100%
  }
}