@require '../../../../../assets/variables.styl'

relative{
  display: block
  a {
    display: block
    text-decoration: none
    .relative{
      padding:5px
      .relative-logo{
        display: inline-block
        text-align: center
        vertical-align: middle
        width: 100px;
        img{
          max-height:50px;
          max-width: 100px
        }
      }
    }
    .relative-content{
      display: inline-block
      width: calc(100% - 110px)
      vertical-align: middle
      struct-label{
        color: color-primary
        font-weight: bold
      }
    }
    &:hover struct-label{
      text-decoration: underline
    }
  }
}