@require '../../../../assets/variables.styl'


financial-private{
  display: block;
  padding-left: 10px;
  .year {
    margin: 0
    line-height: 15pt
  }
  i.fa{
    color: color-primary
  }
  p > span{
    font-weight: bold
  }
}