<div class="editing-wrapper" editing="Projects.allowEditing"
        editing-id="Projects" editing-label="Projects"
        editing-content="Projects.projectsList" editing-row="full" structure="Projects.structure">
    <h2 class="title-projects">Projects</h2>
    <div data-layout="row" data-layout-align="start top" ng-if="Projects.projectsList.length > 0">
        <div flex-sm="100" flex-xs="100">
            <md-autocomplete
                    ng-if="Projects.projects.length > 1"
                    md-search-text="Projects.search"
                    md-items="item in []"
                    md-item-text="item.display"
                    md-min-length="0"
                    placeholder='Search in {{Projects.projects.length | number}} identified projects'>
            </md-autocomplete>
            <div class="count" data-layout="row" data-layout-align="end center">
                {{Projects.filtredProjects | filterCountNoHeaders | number}} project<span
                    ng-if="(Projects.filtredProjects | filterCountNoHeaders) > 1">s</span>
                <span ng-if="(Projects.filtredProjects | filterCountNoHeaders) <Projects.projects.length">&nbsp;out of {{Projects.projects.length | number}}</span>
            </div>

            <md-virtual-repeat-container>
                <div md-virtual-repeat="project in Projects.filtredProjects=(Projects.projectsList | filter:Projects.search)"
                        layout="column" data-layout-align="center stretch">
                    <div ng-if="project.header" class="header">
                        {{project.year || 'Without year'}}
                    </div>
                    <div ng-if="!project.header" class="project"
                            ng-click="Projects.selectProject(project)"
                            ng-class="{selected: Projects.selectedProject === project}">
                        <div data-layout="row" data-layout-align="space-between">
                            <b>{{ project.acronym || project.label }}</b>
                            <small><i>Project {{ project.type }}</i></small>
                        </div>
                    </div>
                </div>
            </md-virtual-repeat-container>
        </div>
        <div flex class="selected-project">
            <div data-layout-align="space-between center" data-layout="row">
                <h3>
                    <span ng-if="Projects.selectedProject.acronym">Project {{Projects.selectedProject.acronym}}</span>
                </h3>
                <div class="secondary">
                    <small><i><span ng-if="Projects.selectedProject.budget">{{ Projects.selectedProject.budget | number }} € - </span><span
                            ng-if="Projects.selectedProject.duration">{{ Projects.selectedProject.duration }} month - </span>{{Projects.selectedProject.year}}</i>
                    </small>
                </div>
            </div>
            <h4>{{Projects.selectedProject.label}}
                    <i class="fa fa-info-circle">
                        <md-tooltip md-direction="top">
                            Source: {{ Projects.selectedProject.sources | join:", ":"label" }}
                        </md-tooltip>
                    </i>
            </h4>
            <p class="subtitle">Project {{Projects.selectedProject.type}}</p>
            <div ng-if="Projects.selectedProject.description.length > 0">
                <p ng-show="!Projects.displayFullDescription" class="description">
                    {{Projects.selectedProject.description.substring(0,500)}}...</p>
                <p ng-show="Projects.displayFullDescription" class="description">
                    {{Projects.selectedProject.description}}</p>
                <p data-layout="row" data-layout-align="end" ng-click="Projects.displayFullDescription = true"
                        ng-show="!Projects.displayFullDescription" class="subtitle">
                    See more
                </p>
            </div>
            <p>
                <small>
                    <a ng-href="{{Projects.selectedProject.url}}" target="_blank" ng-if="Projects.selectedProject.url">
                        {{Projects.selectedProject.url}} <i class="fa fa-fw fa-external-link"></i>
                    </a>
                </small>
            </p>
            <div data-layout="row">
                <div flex="50" ng-if="Projects.selectedProject.structures.length">
                    <p>
                        <b>Affiliated organizations</b>
                    </p>
                    <ul>
                        <li ng-repeat="structure in Projects.selectedProject.structures"><a
                                ui-sref="structure({id:structure.id})">{{structure.label}}</a></li>
                    </ul>
                    <div ng-if="Projects.selectedProject.externalStructures.length > 0">
                        <p>
                            <b>Others partnership</b>
                        </p>
                        <ul>
                            <li ng-repeat="structure in Projects.selectedProject.externalStructures | orderBy:'label'">
                                <a ng-href="http://{{structure.url}}" target="_blank" ng-if="structure.url">{{structure.label}} <i class="fa fa-fw fa-external-link"></i></a>
                                <span ng-if="!structure.url">{{structure.label}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="themes" ng-if="Projects.selectedProject.themes.length" flex="50">
                    <p>
                        <b>Thematics: </b>
                    </p>
                    <ul>
                        <li ng-repeat="theme in Projects.selectedProject.themes track by $index">{{theme}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="Projects.webProjects.length > 0" class="web-detected">
        <h4>
            <span ng-if="Projects.projects.length === 0">
                <ng-pluralize count="Projects.webProjects.length" when="{'0': '',
                     '1': 'Project detected',
                     'other': 'Projects detected'}">
                </ng-pluralize>&nbsp;
            </span>
            <span ng-if="Projects.projects.length > 0">
                <ng-pluralize count="Projects.webProjects.length" when="{'0': '',
                     '1': 'Other project detected',
                     'other': 'Others projects detected'}">
                </ng-pluralize>&nbsp;
            </span>
            on the web site&nbsp;:
        </h4>
        <span ng-repeat="webProject in Projects.webProjects | orderBy:'acronym'">
            <a ui-sref="search({query:webProject.acronym || webProject.label})">{{webProject.acronym || webProject.label}}<md-tooltip md-direction="top" md-delay="100" ng-if="webProject.acronym">{{webProject.label}}</md-tooltip></a><span ng-if="!$last">, </span>
        </span>
    </div>
</div>