imp<md-dialog aria-label="Proposition d’enrichissement et de correction" ng-cloak>
    <form>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Proposal for improvement and correction</h2>
                <h4>Location</h4>
                <p>
                    {{content}}
                </p>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="answer('not useful')">
                Cancel
            </md-button>
            <md-button ng-click="answer('useful')" class="md-raised md-primary">
                Validate
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>